[submodule "submodules/crocoddyl"]
	path = submodules/crocoddyl
	url = https://github.com/loco-3d/crocoddyl.git
	branch = topic/memmo-school
[submodule "submodules/tsid"]
	path = submodules/tsid
	url = https://github.com/stack-of-tasks/tsid.git
	branch = devel
